<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- Internationalization -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>org.kefirsf.tk.i18n.message</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
    </context-param>
    
    <!-- Filters-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.kefirsf.tk.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>org.kefirsf.tk.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>TwitServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Sitemesh -->
    <filter>
        <filter-name>ClearSitemeshAppliedOnceFilter</filter-name>
        <filter-class>org.kefirsf.tk.ClearSitemeshAppliedOnceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ClearSitemeshAppliedOnceFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Index page-->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.kefirsf.tk.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <!-- Success page -->
    <servlet>
        <servlet-name>success</servlet-name>
        <jsp-file>/WEB-INF/jsp/success.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>TwitServlet</servlet-name>
        <servlet-class>org.kefirsf.tk.TwitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TwitServlet</servlet-name>
        <url-pattern>/twit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CallbackServlet</servlet-name>
        <servlet-class>org.kefirsf.tk.CallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CallbackServlet</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>org.kefirsf.tk.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>org.kefirsf.tk.PingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <!-- Error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
</web-app>
