* {
    font-family: sans-serif;
}

/* JavaScript */
.js {
    display: none;
}
/* /JavaScript */

html, body {
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

div#content {
    background-color: #ddffdd;
}

span#description {
    color: black;
    display: block;
}

div#success {
    text-align: center;
}

.message {
    color: blue;
    font-weight: bold;
    border: solid blue 1px;
    text-align: center;
}

.message a{
    font-weight: normal;
    font-size: 12pt;
}

.button {
    background-color: #87cefa;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: solid blue 1px;
    cursor: pointer;
}

.button.twit {
    width: 100%;
    display: block;
}

div.onebutton a {
    display: block;
}

label, textarea {
    display: block;
}

label {
    font-weight: bold;
}

textarea {
    width: 98%;
    font-family: monospace;
}

#counter{
    padding: 0 20px 0 0;
    text-align: right;
    font-weight: bold;
    color: gray;
}

div.error {
    border: solid red 1px;
    color: red;
    background-color: #faf0e6;
}

div#lang{
    padding: 10px;
    text-align: right;
}

a, .message a {
    text-decoration: none;
    color: green;
}

div#copy {
    text-align: center;
    color: gray;
}

/* Standalone computers and laptops*/
@media screen and (min-width: 601px) {
    html, body {
        background-color: white;
    }

    div#content {
        padding: 10px;
        margin: 20px auto;
        width: 600px;
    }

    span#title{
        display: block;
        padding: 5px;
    }
    span#title, span#title * {
        font-size: 36pt;
        font-weight: bold;
        color: green;
    }

    span#description {
        font-size: 10pt;
        text-align: justify;
        padding: 5px;
    }

    div.onebutton {
        padding: 40px 100px;
    }

    div#success a:first-child {
        margin-right: 40px;
    }

    div#success {
        padding: 40px 0;
    }

    .message {
        padding: 10px;
        margin: 10px 5px;
        font-size: 14pt;
    }

    .button {
        padding: 20px;
        font-size: 24pt;
    }

    div#form {
        margin-top: 20px;
        padding: 10px;
        border: solid white 1px;
    }

    .button.twit{
        margin-top: 20px;
    }

    div.error {
        padding: 10px 20px;
        margin-top: 20px;
    }

    div#lang, div#copy{
        font-size: 10pt;
    }
}

/* Mobile devices */
@media screen and (max-width: 600px) {
    html, body {
        background-color: #ddffdd;
    }

    div#content {
        margin: 10px auto;
        width: 94%;
    }

    div.onebutton {
        padding: 40px;
    }

    div#success a:first-child {
        margin-right: 10px;
    }

    div#success {
        padding: 10px 0;
    }

    .message {
        padding: 10px;
        margin: 5px;
    }

    .button {
        padding: 10px;
    }

    div#form {
        margin-top: 10px;
    }

    .button.twit{
        margin-top: 10px;
    }

    div.error {
        padding: 10px 10px;
        margin-top: 10px;
    }
}

